@model List<TaskManager.Entity.Tasks>

@{
    ViewData["Title"] = "Ana Sayfa";
    var queryString = Context.Request.Query["tarihAraligi"].ToString();
}


@if (String.IsNullOrEmpty(queryString))
{
    <div class="text-center">
        <h1 class="display-4">Görev Yöneticisine Hoşgeldiniz.</h1>
    </div>
    <hr />
    <h1 class="text-center">Tüm Görevler</h1>
}
else
{
    <h1 class="text-center">@queryString Görevler</h1>
}


<p>
    <a asp-action="Create" class="btn btn-block btn-outline-success font-weight-bold mt-4"><i class="fas fa-plus-circle"></i> Yeni Görev Planla</a>
</p>



@if (Model.Count() > 0)
{
    <table class="table table-bordered table-hover text-center shadow">
        <thead class="thead-dark">
            <tr style="font-size:18px;">
                <th>
                    Başlık
                </th>
                <th>
                    İçerik
                </th>
                <th>
                    Tarih
                </th>
                <th>
                    Eylemler
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="shadow-sm mt-3">
                    <td>
                        @Html.DisplayFor(modelItem => item.Header)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TasksId" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i> Güncelle</a> |
                        <a asp-action="Details" asp-route-id="@item.TasksId" class="btn btn-sm btn-warning"><i class="fas fa-info-circle"></i> Detaylar </a> |
                        <a asp-action="Delete" asp-route-id="@item.TasksId" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="my-2 mt-4">
        <p class="text-center m-0 font-weight-bold" style="font-size:58px; line-height:10px;">^</p>
        <p class="text-center m-0 font-weight-bold" style="font-size:25px; line-height:12px;">||</p>
    </div>
    <div class="text-md-left font-italic text-muted display-3">
        <h1 >Henüz görev planlanmamış.</h1>
        <h1>"Yeni Görev Planla" seçeneğini kullanarak yeni bir görev oluşturabilirsiniz.</h1>
    </div>
}
