@using TaskManager.Entity;
@model List<Tasks>
@{
    ViewData["Title"] = "Ana Sayfa";
}

<h1 class="text-center">Arama Sonuçları</h1>

@if (Model != null && Model.Count()>0)
{
    <table class="table table-bordered table-hover text-center shadow">
        <thead class="thead-dark">
            <tr style="font-size:18px;">
                <th>
                    Başlık
                </th>
                <th>
                    İçerik
                </th>
                <th>
                    Tarih
                </th>
                <th>
                    Eylemler
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="shadow-sm mt-3">
                    <td>
                        @Html.DisplayFor(modelItem => item.Header)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TasksId" class="btn btn-primary">Güncelle</a> |
                        <a asp-action="Details" asp-route-id="@item.TasksId" class="btn btn-warning">Detaylar</a> |
                        <a asp-action="Delete" asp-route-id="@item.TasksId" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="my-2 mt-4 text-md-left font-italic">
        <p class="text-center m-0 font-weight-bold alert alert-danger">
            Herhangi bir sonuç bulunamadı. Lütfen başka bir arama gerçekleştiriniz.
        </p>
    </div>

}